<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
<connectionStrings>
  
  <add name="WebShopContext" connectionString="server=degaverbeekwebshopserver.mysql.database.azure.com;user id=Joachim8790@degaverbeekwebshopserver;password=Brauwvir1;database=degaverbeekwebshop;" providerName="System.Data.EntityClient" />

  <add name="gaverbeek_syncEntities" connectionString="metadata=res://*/DataModel.GaverbeekSyncDataModel.csdl|res://*/DataModel.GaverbeekSyncDataModel.ssdl|res://*/DataModel.GaverbeekSyncDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=degaverbeek.dnsalias.org;user id=gaverbeek_sync;password=G@vSyncM@ngr_1;database=gaverbeek_sync&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>


