
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_LayoutWebshop.cshtml";
}

<div class="headerSecondary-right">
  <h3>Bestelhistoriek</h3>
</div>
<div class="row">
    <div class="col s12 m9 l10">
        <div id="introduction" class="section scrollspy">
            <p>Vorige jaren </p>
        </div>
        <div id="introduction" class="section scrollspy">
            <p>Vorig jaar </p>
        </div>
        <div id="introduction" class="section scrollspy">
            <p>Dit jaar </p>
        </div>

        <div id="structure" class="section scrollspy">
            <p>Deze maand </p>
        </div>

        <div id="initialization" class="section scrollspy">
            <p>Vorige week </p>
        </div>
        <div id="test2" class="section scrollspy">
            <p>Deze week </p>
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <li><a href="#introduction">Vorige jaren</a></li>
        <ul class="section table-of-contents">
            <li><a href="#introduction">Vorig jaar</a></li>
            <li><a href="#introduction">Dit jaar</a></li>
            <li><a href="#structure">Deze maand</a></li>
            <li><a href="#initialization">Vorige week</a></li>
            <li><a href="#test2">Deze week</a></li>
        </ul>
    </div>
</div>


