
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_LayoutWebshop.cshtml";
}

<div class="headerSecondary-right">
  <h3>Bestelhistoriek</h3>
</div>
<div class="row">
    <div class="col s12 m9 l10">
        <div id="lastYears" class="section scrollspy">
          <div class="header-left"><h5>Vorige jaren</h5></div>
            <table class="centered bordered highlight">
                <thead>
                    <tr>
                        <th>Bestelling</th>
                        <th>Besteldatum</th>
                        <th>Totaal bedrag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                        </tr>
</tbody>
            </table>
        </div>
        <div id="lastYear" class="section scrollspy">
            <div class="header-left"><h5>Vorig jaar</h5></div>
            <table class="centered bordered highlight">
                <thead>
                    <tr>
                        <th>Bestelling</th>
                        <th>Besteldatum</th>
                        <th>Totaal bedrag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                        </tr>
</tbody>
            </table>
        </div>
        <div id="thisYear" class="section scrollspy">
            <div class="header-left"><h5>Dit jaar</h5></div>
            <table class="centered bordered highlight">
                <thead>
                    <tr>
                        <th>Bestelling</th>
                        <th>Besteldatum</th>
                        <th>Totaal bedrag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                        </tr>
</tbody>
            </table>
        </div>

        <div id="thisMonth" class="section scrollspy">
            <div class="header-left"><h5>Deze maand</h5></div>
            <table class="centered bordered highlight">
                <thead>
                    <tr>
                        <th>Bestelling</th>
                        <th>Besteldatum</th>
                        <th>Totaal bedrag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                        </t
</tbody>
            </table>
        </div>

        <div id="lastWeek" class="section scrollspy">
            <div class="header-left"><h5>Vorige week</h5></div>
            <table class="centered bordered highlight">
                <thead>
                    <tr>
                        <th>Bestelling</th>
                        <th>Besteldatum</th>
                        <th>Totaal bedrag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                        </tr>   
<tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                    <tr>
                        <td class="">1055484</td>
                        <td class="">08/01/2018</td>
                        <td class="">974.44</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="thisWeek" class="section scrollspy">
            <div class="header-left"><h5>Deze week</h5></div>    
            <p>Geen artikels gevonden</p>
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
       
        <ul class="section table-of-contents">
            <li><a href="#lastYears">Vorige jaren</a></li>
            <li><a href="#lastYear">Vorig jaar</a></li>
            <li><a href="#thisYear">Dit jaar</a></li>
            <li><a href="#thisMonth">Deze maand</a></li>
            <li><a href="#lastWeek">Vorige week</a></li>
            <li><a href="#thisWeek">Deze week</a></li>
        </ul>
    </div>
</div>


