
@{
    Layout = "~/Views/Shared/_LayoutWebshop.cshtml";
}
<div class="header-right">
    <h4>Winkelmandje</h4>
</div>
<table class="centered bordered highlight">
    <thead>
        <tr>
            <th class="hideOnMobile">Afbeelding</th>
            <th>Naam</th>
            <th class="hideOnMobile">Categorie</th>
            <th>Eenheidsprijs</th>
            <th>Aantal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="hideOnMobile"><img alt="naamvanproduct" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/5/13/0/FN_tomatoes-thinkstock_s4x3.jpg.rend.hgtvcom.966.725.suffix/1371616351150.jpeg" /></td>
            <td><p class="truncate">bonduelle groentenmix wortel en pastnaak 4x2,5kg</p></td>
            <td class="hideOnMobile"><p class="truncate">DIEPVRIES DESSERTS VANDEMOORTELE</p></td>
            <td><span>€15.95</span><span class="new badge" data-badge-caption="Per kg"> </span></td>
            <td><input type="number" value="4" /></td>
            <td><i class="material-icons">close</i></td>
        </tr>
        <tr>
            <td class="hideOnMobile"><img alt="naamvanproduct" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/5/13/0/FN_tomatoes-thinkstock_s4x3.jpg.rend.hgtvcom.966.725.suffix/1371616351150.jpeg" /></td>
            <td><p class="truncate">bonduelle groentenmix wortel en pastnaak 4x2,5kg</p></td>
            <td class="hideOnMobile"><p class="truncate">DIEPVRIES DESSERTS VANDEMOORTELE</p></td>
            <td><span>€15.95</span><span class="new badge" data-badge-caption="Per kg"> </span></td>
            <td><input type="number" value="4" /></td>
            <td><i class="material-icons">close</i></td>
        </tr>
        <tr>
            <td class="hideOnMobile"><img alt="naamvanproduct" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/5/13/0/FN_tomatoes-thinkstock_s4x3.jpg.rend.hgtvcom.966.725.suffix/1371616351150.jpeg" /></td>
            <td><p class="truncate">bonduelle groentenmix wortel en pastnaak 4x2,5kg</p></td>
            <td class="hideOnMobile"><p class="truncate">DIEPVRIES DESSERTS VANDEMOORTELE</p></td>
            <td><span>€15.95</span><span class="new badge" data-badge-caption="Per kg"> </span></td>
            <td><input type="number" value="4" /></td>
            <td><i class="material-icons">close</i></td>
        </tr>
        <tr>
            <td class="hideOnMobile"><img alt="naamvanproduct" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/5/13/0/FN_tomatoes-thinkstock_s4x3.jpg.rend.hgtvcom.966.725.suffix/1371616351150.jpeg" /></td>
            <td><p class="truncate">bonduelle groentenmix wortel en pastnaak 4x2,5kg</p></td>
            <td class="hideOnMobile"><p class="truncate">DIEPVRIES DESSERTS VANDEMOORTELE</p></td>
            <td><span>€15.95</span><span class="new badge" data-badge-caption="Per kg"> </span></td>
            <td><input type="number" value="4" /></td>
            <td><i class="material-icons">close</i></td>
        </tr>


    </tbody>
</table>
<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
<div id="MyInfo" class="row">
    <div class="row overflowHidden">
        <div class="col-sm-12">
            <div class="header-right">
                <h4>Mijn informatie</h4>
            </div>
        </div>  
    </div>
    <div id="MyInfoContainer">
        <div class="row" style="margin-bottom:0;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 template no-padding">
                <div class="header-left">

                    <h4>Mijn bestellijst</h4>
                </div>

                    <div class="template-list">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 template-item">
                            <img class="template-image" alt="templateImage" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/5/13/0/FN_tomatoes-thinkstock_s4x3.jpg.rend.hgtvcom.966.725.suffix/1371616351150.jpeg" />
                            <div class="template-content">
                                <div class="template-title truncate">bonduelle groentenmix wortel en pastnaak 4x2,5kg</div>
                                <div class="template-price">€15,95<span class="new badge" data-badge-caption="Per kg"> </span></div>
                                <a class="modal-trigger" href="#modal2"><i class="material-icons">close</i></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 template-item">
                            <img class="template-image" alt="templateImage" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/5/13/0/FN_tomatoes-thinkstock_s4x3.jpg.rend.hgtvcom.966.725.suffix/1371616351150.jpeg" />
                            <div class="template-content">
                                <div class="template-title truncate">bonduelle groentenmix wortel en pastnaak 4x2,5kg</div>
                                <div class="template-price">€15,95<span class="new badge" data-badge-caption="Per kg"> </span></div>
                                <a class="modal-trigger" href="#modal2"><i class="material-icons">close</i></a>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
        <div class="row info-component">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 total no-padding info-item">

    <div class="totalPrice">€45,23</div><a class="primary-color modal-trigger" href="#modal1">Bestellen</a>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 no-padding info-item">
    <textarea type="text"  class="materialize-textarea" placeholder="Extra commentaar kan hier ingevoerd worden."></textarea>

</div></div>
            
    </div>
</div>
<!--MODALS-->
 <!-- Modal Trigger -->

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="header-left">
            <h4>Bevestiging</h4>
        </div>
        <p>Ben je zeker dat je je bestelling wilt plaatsen?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">PLAATSEN</a>
    </div>
</div>
<div id="modal2" class="modal">
    <div class="modal-content">
        <div class="header-left" style="background:#d91e18;">
            <h4>Verwijderen</h4>
        </div>
        <p>Ben je zeker dat je dit product uit je bestellijst wil verwijderen?</p>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Verwijderen</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Annuleren</a>
    </div>
</div>


