body {
    min-height:100%;
}
@font-face {
    font-family: junction;
    src: url(../fonts/Junction-regular.otf);
}
@font-face {
    font-family: infinity;
    src: url(../fonts/Infinity.ttf);
}
/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {

}
h1,h3,h4,h5,h6{
    font-variant:small-caps;
    color:#ff9000;
    font-family:junction;
}
h2{
    font-family:junction;
    color:#ff9000;
    text-align:center;
    font-variant:small-caps;
    
}
ul li b a{
    font-variant:small-caps;
     font-family:junction;
}
ul li b a:hover{
   color:#ff9000;
   text-decoration:none;
}
.pointerdiv{
    position:relative;
    background-color:#252525;
    width:100% !important;
}
.pointerdiv:after{

    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 25px #252525;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}
.pointerWhite{
    position:relative;
    background-color:#fff;
    width:100% !important;
}
.pointerWhite:after{

    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 25px #fff;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}
.mobile{

}
@media screen and (min-width: 300px) {
               .welcome_right{
         margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;

    }
       .welcome_left{
               margin: 0 1%;
       }
       #shopleft{
           margin:0 1%;
       }
       #shopright{
           width: 200px;
    height: 200px;
    margin: 5% auto 10% auto;
       }
}
@media screen and (min-width: 400px) {
               .welcome_right{
         margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;

    }
       .welcome_left{
               margin: 0 5%;
       }
       #shopleft{
           margin:0 5%;
       }
       #shopright{
           width: 300px;
    height: 300px;
    margin: 5% auto 10% auto;
       }
}
@media screen and (min-width: 500px) {
           .welcome_right{
         margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;

    }
       .welcome_left{
               margin: 0 10%;
       }
       #shopleft{
           margin:0 10%;
       }
       #shopright{
           width: 300px;
    height: 300px;
    margin: 5% auto 10% auto;
       }
}
@media screen and (min-width: 600px) {
          .welcome_right{
         margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;

    }
       .welcome_left{
               margin: 0 10%;
       }
       #shopleft{
           margin:0 10%;
       }
       #shopright{
           width: 300px;
    height: 300px;
    margin: 5% auto 10% auto;
       }
}
@media screen and (min-width: 700px) {
             .welcome_right{
         margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;

    }
       .welcome_left{
               margin: 0 15%;
       }
       #shopleft{
           margin:0 15%;
       }
       #shopright{
           width: 350px;
    height: 350px;
    margin: 5% auto 10% auto;
       }
}
@media screen and (min-width: 800px) {
              .welcome_right{
         margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;

    }
       .welcome_left{
               margin: 0 15%;
       }
       #shopleft{
           margin:0 15%;
       }
       #shopright{
           width: 350px;
    height: 350px;
    margin: 5% auto 10% auto;
       }
}
@media screen and (min-width: 900px) {
       .welcome_right{
         margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;

    }
       .welcome_left{
               margin: 0 15%;
       }
       #shopleft{
           margin:0 15%;
       }
       #shopright{
           width: 400px;
    height: 400px;
    margin: 5% auto 10% auto;
       }
}
@media screen and (min-width: 1000px) {
          .welcome_left{
        margin-left: 20%;
        margin-right: 15%;
    }
    .welcome_right{
        margin-left: 35%;

    }
        .welcome{
        margin-bottom:7%;
    }
     #shopleft{
        margin-left: 16%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}
@media screen and (min-width: 1100px) {
         .welcome_left{
        margin-left: 31%;
        margin-right: 7%;
    }
    .welcome_right{
        margin-left: 30%;

    }
        .welcome{
        margin-bottom:7%;
    }
     #shopleft{
        margin-left: 22%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}
@media screen and (min-width: 1200px) {
            .welcome_left{
        margin-left: 36%;
        margin-right: 7%;
    }
    .welcome_right{
        margin-left: 30%;

    }
        .welcome{
        margin-bottom:7%;
    }
     #shopleft{
        margin-left: 27%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}
@media screen and (min-width: 1300px) {
        .welcome_left{
        margin-left: 40%;
        margin-right: 5%;
    }
    .welcome_right{
        margin-left: 30%;

    }
        .welcome{
        margin-bottom:7%;
    }
     #shopleft{
        margin-left: 27%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}
@media screen and (min-width: 1400px) {
    .welcome_left{
        margin-left: 40%;
        margin-right: 5%;
    }
    .welcome_right{
        margin-left: 30%;
    }
        .welcome{
        margin-bottom:7%;
    }
     #shopleft{
        margin-left: 35%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}
@media screen and (min-width: 1500px) {
    .welcome_left{
        margin-left: 40%;
        margin-right: 5%;
    }
    .welcome_right{
        margin-left: 30%;

    }
        .welcome{
        margin-bottom:7%;
    }
     #shopleft{
        margin-left: 35%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}
@media screen and (min-width: 1600px) {
    .welcome_left{
        margin-left: 40%;
        margin-right: 5%;
    }
    .welcome_right{
        margin-left: 30%;
    }
        .welcome{
        margin-bottom:7%;
    }
     #shopleft{
        margin-left: 40%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}
@media screen and (min-width: 1700px) {
         .welcome_left{
        margin-left: 35%;
        margin-right: 10%;
    }
    .welcome_right{
        margin-left: 30%;
    }
        .welcome{
        margin-bottom:7%;
    }
     #shopleft{
        margin-left: 42%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}
@media screen and (min-width: 1800px) {
        .welcome_left{
        margin-left: 35%;
        margin-right: 10%;
    }
    .welcome_right{
        margin-left: 30%;

    }
        .welcome{
        margin-bottom:7%;
    }
     #shopleft{
        margin-left: 42%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}
@media screen and (min-width: 1900px) {
        .welcome_left{
        margin-left: 40%;
    }
    .welcome_right{
        margin-left: 35%;
    }
    #shopleft{
        margin-left: 46%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}
@media screen and (min-width: 2000px) {
    .welcome_left{
        margin-left: 40%;
    }
    .welcome_right{
        margin-left: 35%;
    }
    #shopleft{
        margin-left: 46%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-right: 0%;
    }
    #shopright{
        margin-top: 14%;
        margin-right: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
}

.welcome_left{
    background-color:#EBEBEB;
    padding:10px;

}
.welcome_right{
    height:400px;

}
.welcome_left ul li{
    clear:both;
    font-size:1.3rem;
    margin:20px 10px;
}


/*CIRCULAR MENU*/
.selector {
  position: absolute;
  top: 180px;
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
}

.selector,
.selector button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.selector button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #ff9000;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all .1s;
}

.selector button:hover { background: #ffa500; }

.selector button:focus { outline: none; }

.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}

.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;
}

.selector li input { display: none; }

.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border:2px solid #ff9000;
  color:#000;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.selector li input + label:hover { background: #f0f0f0; }

.selector li input:checked + label {
  background: #5cb85c;
  color: white;
}

.selector li input:checked + label:hover { background: #449d44; }

.selector.open li input + label {
  width: 100px;
  height: 100px;
  line-height: 100px;
  /*margin-left: -40px;*/
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
/*BESTELSYSTEEM PANEEL*/

#shopleft{
    background-color:#ebebeb;
    padding:50px;

}
#shopright{
    background-color:#ebebeb;
    padding:0;
   background: url('../Content/Images/online bestellen.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
.filter-black{
    background:rgba(25,25,25,0.4);
    height:100%;
        padding:5px;
}
#shopright img{
    
    width:100%;
    height:auto;
    margin:0;

    
}
.shoprightbutton{

    border:2px solid #ffffff;
    text-align:center;
    vertical-align:middle;
    height:100%;

}
.center-logo{
    font-weight:bolder;
    font-family:junction;
}
.slider{
    height:initial !important;
}