@{
    ViewBag.Title = "Home Page";
}

<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/Content/Images/voorbeeldimg1.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3 class="light grey-text text-lighten-3">EEN SNELLE SERVICE</h3>
                <h5>KWALITEIT OP TIJD</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Images/voorbeeldimg2.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3 class="light grey-text text-lighten-3">GEROOKTE VIS</h3>
                <h5>UITGEBREID ASSORTIMENT GEROOKTE VIS</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Images/voorbeeldimg3.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3 class="light grey-text text-lighten-3">BAKKERIJ</h3>
                <h5>GROOT AANBOD AFBAKPRODUCTEN</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Images/voorbeeldimg4.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3 class="light grey-text text-lighten-3">ZUIVELAFDELING</h3>
                <h5>UITGEBREID AANBOD</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Images/voorbeeldimg5.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3 class="light grey-text text-lighten-3">DROGE VOEDING</h3>
                <h5>VERSCHILLENDE SOORTEN DROGE VOEDING</h5>
            </div>
        </li>
    </ul>
</div>
<div style="width:100vw;height:5px;background-color:#ff9000;padding:0;margin:0;"></div>
<div class="pointerdiv" style="height:40px;"></div>
<div class="row" style="text-align:center;">
    <br />
    <img src="~/Content/Images/Welcome.png" style="width:20rem;"/>
    <br />
</div>
<div class="row welcome" style="z-index:10;">
    <div class="col-md-6">
       <div data-aos="zoom-in-up" data-aos-duration="1000" class="welcome_left">
           <h5 style="font-variant:small-caps;text-align:center;">OP ZOEK NAAR HORECALEVERANCIER?</h5>
           <ul>
               <li><i class="material-icons left" style="color:#ff9000">check</i>Kwaliteitsproducten</li>
               <li><i class="material-icons left" style="color:#ff9000">check</i>Versheid</li>
               <li><i class="material-icons left" style="color:#ff9000">check</i>Stiptheid</li>
               <li><i class="material-icons left" style="color:#ff9000">check</i>Klantvriendelijk</li>
               <li><i class="material-icons left" style="color:#ff9000">check</i>Moderne infrastructuur</li>
               <li><i class="material-icons left" style="color:#ff9000">check</i>Uitgebreid assortiment</li>
           </ul>
       </div>
    </div>
    <div class="col-md-6">
        <div data-aos="zoom-in-up" data-aos-delay="500" data-aos-duration="1000" class="welcome_right">
            <div class='selector'>
                <ul>
                    <li>
                        <input id='c1' type='checkbox'>
                        <label for='c1'>Zuur</label>
                    </li>
                    <li>
                        <input id='c2' type='checkbox'>
                        <label for='c2'>Zuivel</label>
                    </li>
                    <li>
                        <input id='c3' type='checkbox'>
                        <label for='c3'>Wijn</label>
                    </li>
                    <li>
                        <input id='c4' type='checkbox'>
                        <label for='c4'>Vis</label>
                    </li>
                    <li>
                        <input id='c5' type='checkbox'>
                        <label for='c5'>Suiker</label>
                    </li>
                    <li>
                        <input id='c6' type='checkbox'>
                        <label for='c6'>Kruiden</label>
                    </li>
                    <li>
                        <input id='c7' type='checkbox'>
                        <label for='c7'>Deegwaren</label>
                    </li>
                    <li>
                        <input id='c8' type='checkbox'>
                        <label for='c8'>Conserven</label>
                    </li>
                    <li>
                        <input id='c9' type='checkbox'>
                        <label for='c9'>Olie</label>
                    </li>
                    <li>
                        <input id='c9' type='checkbox'>
                        <label for='c9'>Bake-off</label>
                    </li>
                    <li>
                        <input id='c9' type='checkbox'>
                        <label for='c9'>Beleg</label>
                    </li>
                    <li>
                        <input id='c9' type='checkbox'>
                        <label for='c9'>Non-food</label>
                    </li>

                </ul>
                <button class="hoverable">Producten</button>
            </div>
            
        </div>
    </div>
</div>
<br />
<br />
<div class="pointerWhite"></div>
<div class="row" style="z-index:9;background-color:#505050;">
    <h2>Online bestellen</h2>
<div class="col-lg-8" style="padding:0;">
    <div id="shopleft">
        <h5 style="text-align:center;">VRAAG EEN ACCOUNT AAN VOOR HET ONLINE BESTELPLATFORM</h5>
        <p>Via ons online bestelplatform kan je producten bestellen en laten leveren. Deze services is enkel voor B2B dus particulieren kunnen hier geen gebruik van maken. Om te starten moet je een gebruikersaccount aanvragen die dan wordt goedgekeurd.</p>

        <a class="waves-effect waves-light btn-large" style="background-color:#ff9000;width:100%;"><i class="material-icons left">account_circle</i>ACCOUNT AANVRAGEN</a>
    </div>
</div>
<div class="col-lg-4" style="padding:0;">
    <div id="shopright">
        <div class="filter-black">
            <div class="shoprightbutton">
                <div class="center-logo">
                    <i style="color:#fff;" class="material-icons large">shopping_cart</i>
                    <br /><span style="color:#fff;">AANMELDEN</span>
                </div>


            </div>
        </div>
    </div>
</div>
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {
                $('video').mediaelementplayer({
                    alwaysShowControls: false,
                    videoVolume: 'horizontal',
                    features: ['playpause', 'progress', 'volume', 'fullscreen']
                });
            });
        </script>
    }


