
@{
    ViewBag.Title = "Olie";
}

<br />
<br />
<h2>producten olie</h2>
<div class="row somepadding">

    <div class="col-lg-12">
        <div data-aos="fade-up" data-aos-duration="1000" class="col-sm-6 col-md-6 col-lg-4 leverancier" onmouseout="LeverancierOut(1)" onmouseover="LeverancierHover(1)">

            <img src="~/Content/Images/aveno.png" />
            <div id="1" class="filter"><a href="http://aveno.be/">Website bezoeken</a></div>

        </div>
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" class="col-sm-6 col-md-6 col-lg-4 leverancier" onmouseout="LeverancierOut(2)" onmouseover="LeverancierHover(2)">

            <img src="~/Content/Images/vandemoortele.png" />
            <div id="2" class="filter"><a href="http://www.vandemoortele.com/nl-be">Website bezoeken</a></div>

        </div>
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" class="col-sm-6 col-md-6 col-lg-4 leverancier" onmouseout="LeverancierOut(3)" onmouseover="LeverancierHover(3)">

            <img src="~/Content/Images/elisa.png" />
            <div id="3" class="filter"><a href="https://world.openfoodfacts.org/brand/elisa">Website bezoeken</a></div>

        </div>

    </div>
</div>
<div class="pointerWhite"></div>
<script>
    function LeverancierHover(element)
    {
        $("#"+element+" a").attr("style", "display:inline;");
    }
    function LeverancierOut(element) {
        $("#" + element + " a").attr("style", "display:none;");
    }
</script>




